:root {
    --media-sm: 480px;
    --media-md: 768px;
    --media-lg: 1000px;
}

/* General styles */


body {
    font-family: 'DM Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 150%;
    margin: 0;
    padding: 0;
    background: url('../images/Vector.svg');
    background-size: cover; /* Adjust as needed */
    background-repeat: repeat; /* Adjust as needed */
    background-attachment: fixed; /* Optional */    
    background-color: #f5f5f5;
    color: #333;
}



a {
    outline-color: transparent;
    text-decoration: none;
    padding: 2px 1px 0;
    border-bottom: 0.5px solid;
    color: #0249FF;
}

  
a:visited {
    color: #0249FF;
}
  
a:focus,
a:hover {
    border-bottom: 2px solid;
}

.container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    min-width: 320px; /* Minimum width for mobile viewport */
    overflow-x: hidden; /* Prevent horizontal scroll */
}

blockquote {
    border: 1px solid #111;
    padding: 5px 35px;
    margin: 35px 0;
    background-color: #fff;
    border-radius: 4px;
    color: #111;
    box-shadow: 4px 4px 0 #111;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid #111111; /* Apply a thicker border for a clearer outline */
    border-radius: 4px;
    overflow: hidden; /* Ensures the border-radius is applied */
    margin: 20px 0;
    background-color: #FAFAFA;
    box-shadow: 4px 4px 0 #111111;
}

th, td {
    border-right: 1px solid #CCCCCC; /* Add column separator */
    padding: 12px 15px;
    text-align: left;
}

th {
    background-color: #111111;
    color: #FAFAFA;
    font-style: italic; /* Set the font to cursive */
}

td {
    border-right: 1px solid #CCCCCC; /* Add column separator */
    border-bottom: 1px solid #CCCCCC; /* Add row separator */
}

td:last-child, th:last-child {
    border-right: none; /* Remove separator from the last column */
}

tr:last-child {
    border-bottom: none; /* Remove separator from the last row */
}

/* Sidebar styles */
.sidebar {
    width: 250px;
    background-color: #FAFAFA;
    border-right: 1px solid #eaeaea;
    padding: 1.5rem;
    padding-top: 4rem;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto; /* Allows scrolling */
    transition: transform 0.3s ease;
    transform: translateY(100%);
    z-index: 100;
}

.sidebar.open {
    transform: translateY(0);
}

.logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    border-bottom: none; /* Prevent underline */
}

.logo a:hover {
    border-bottom: none; /* Prevent underline on hover */
}

.logo-img {
    width: 70px;
    height: 70px;
}

.menu-item {
    font-family: Inconsolata, monospace;
    display: flex;
    align-items: center; /* Vertically align items */
    margin-bottom: 10px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s, border-color 0.3s;
    position: relative; /* To position the external link icon */
    border: 1px solid #eaeaea00;
    border-radius: 4px;
    background-color: #FAFAFA;
}

.menu-item:hover {
    border: 1px solid #eaeaea;
    border-radius: 4px;
    background-color: #FAFAFA;
    border-color: #0249FF;
}

.menu-icon {
    width: 12px; /* Set the desired width */
    height: 12px; /* Set the desired height */
    margin-right: 14px;
    margin-left: 10px;
    margin-bottom: 3px;
    display: inline-block;
    vertical-align: middle; /* Ensure vertical alignment */
}

.external-link-icon-placeholder {
    width: 24px; /* Same width as the icon */
    height: 24px; /* Same height as the icon */
}

.external-link-icon img {
    width: 12px; /* Adjust size as needed */
    height: 12px;
}

.menu {
    margin-top: 2rem;
}

.menu a {
    display: flex; /* Change to flex */
    align-items: center; /* Center items vertically */
    padding: 0.5rem 0;
    font-size: 14px;
    color: #333;
}

.menu a:hover {
    color: #0249FF;
}

.menu-divider {
    margin: 1rem 0;
    padding: 0.5rem 0;
    font-size: 0.875rem;
    color: #888;
}

.menu-item.active {
    color: #0249FF;
    font-weight: bolder;
}

/* Writing sidebar styles */
.writing-sidebar {
    width: 250px; /* Adjust based on your design */
    background-color: #f4f4f4;
    padding: 20px;
    padding-top: 64px;
    overflow-y: auto; /* Allows scrolling */
    height: 100vh; /* Full-height sidebar */
    position: fixed;
    left: 250px; /* Adjust based on your main sidebar width */
    transition: transform 0.3s ease;
}

.writing-sidebar.hidden {
    display: none; /* Hide the sidebar */
}

.writing-sidebar a {
    display: block;
    margin-bottom: 10px;
    color: #333;
}


/* Writing sidebar entries */
.entry-wrapper {
    display: block;
    margin-bottom: 15px; /* Space between entries */
    padding: 10px; /* Padding for clickable area */
    text-decoration: none;
    color: #333;
    background-color: #FAFAFA; /* Background color for the entry */
    border: 1px solid #eaeaea; /* Border around the entry */
    border-radius: 4px; /* Rounded corners for the entry */
    transition: background-color 0.3s, border-color 0.3s; /* Smooth transition for hover effect */
}

.entry-wrapper:hover {
    background-color: #FAFAFA; /* Light grey background on hover */
    border-color: #0249FF; /* Border color on hover */
}

.entry-title {
    font-size: 1rem;
    font-weight: bold;
}

.entry-date {
    margin-top: 5px; /* Space between title and date */
    color: #888; /* Different color for date */
    font-size: 0.7rem; /* Smaller font size for date */
}

/* Active state for entry */
.entry-wrapper.active {
    color: #0249FF; /* Text color for active entry */
    border: none; /* Ensure no border */
}

/* Main content styles */
.content {
    flex: 1;
    padding: 16px;
    box-sizing: border-box;
    background-color: #FAFAFA;
    border-left: 1px solid #eaeaea;
    max-width: 700px;
    overflow-x: hidden; /* Prevent horizontal scroll */
    z-index: 1; /* Ensure the main content is on top */
    overflow-x: auto;
}

.content::after {
    content: "";
    display: block;
    height: 80px; /* Adds 80px space at the bottom */
}



footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}

@media screen and (min-width: 480px) {
    .sidebar {
        transform: translate(0);
    }

    .menu-toggle {
        display: none; /* Hide the menu toggle button */
    }

    .content {
        padding: 40px;
        margin-left: 250px; /* Width of regular sidebar */
    }    
}

@media screen and (min-width: 960px) {
    .content {
        margin-left: 540px; /* Width of writing sidebar + regular sidebar + 40 px somehow? */
    }
}

/* Media query targeting only the writing page for the behavior */
@media screen and (max-width: 960px) {
    #writing-page * {
        box-sizing: border-box; /* Apply box-sizing only within the writing page and media query */
    }

    #writing-page .writing-sidebar {
        width: 100%; /* Full width on mobile */
        left: 0; /* Position it at the left edge */
        padding: 20px; /* Adjust padding as needed */
        padding-top: 64px;
    }

    #writing-page .content {
        display: none; /* Hide content initially */
    }

    #writing-page .writing-sidebar .entry-wrapper {
        width: 100%; /* Ensure entry wrappers are full width */
    }
    
    #writing-page .sidebar {
        transform: translateX(-100%); /* Keep the sidebar collapsed */
        transition: transform 0.3s ease; /* Add transition for smooth toggling */
    }

    #writing-page .sidebar.open {
        transform: translateX(0); /* Reveal the sidebar when open class is added */
    }

    #writing-page .menu-toggle {
        display: block; /* Ensure the hamburger icon is visible */
    }
   
    #writing-page.show-content .writing-sidebar {
        display: none; /* Hide sidebar when content is shown */
    }
    
    #writing-page.show-content .content {
        display: block; /* Show content when an entry is clicked */
        width: 100%; /* Full width for the content */
        padding: 16px; /* Consistent padding */
        box-sizing: border-box;
        max-width: none; /* Remove max width */
    }

    #writing-page .writing-sidebar { 
        padding-top: 16px;
    }

}

/* New styles for mobile view */
@media screen and (max-width: 480px) {
    .sidebar {
        width: 100%; /* Full width */
        left: 0; /* Align to the left */
        text-align: center; /* Center the items */
        padding-top: 1rem;
        height: 100vh; /* Full viewport height */
        overflow-y: auto; /* Enable vertical scrolling */
        position: fixed; /* Fix to viewport */
        top: 0; /* Align to top */
    }

    .menu-item {
        display: block; /* Make each menu item a block-level element */
        text-align: center; /* Center the text */
        margin: 0px 0; /* Adjust padding to reduce height */
        border: none; /* Remove border on hover */
        background-color: inherit; /* Keep background color consistent */
        justify-content: center; /* Center the menu items */
    }


    
    .menu-item:hover {
        border: none; /* Remove border on hover */
        background-color: inherit; /* Remove background color change on hover */
    }
    
    .menu-divider {
        margin: 0.5rem 0;
        border-bottom: 1px solid #eaeaea; /* Add a border below each divider */
        padding: 0.25rem 0;
        font-size: 0.875rem;
        color: #888;
    }

    .menu-toggle {
        display: flex; /* Use flex to center content */
        align-items: center; /* Center items vertically */
        justify-content: center; /* Center items horizontally */
        position: fixed;
        bottom: 0; /* Position at the bottom */
        left: 0;
        width: 100%; /* Full width */
        height: 60px; /* Adjust height as needed */
        background-color: #FAFAFA; /* Background color */
        border-top: solid 1px #eaeaea;  
        padding: 0; /* Remove padding */
        cursor: pointer; /* Pointer cursor */
        z-index: 1000; /* Ensure it is on top */
        outline: none; /* Remove outline */
        border: none; /* Ensure no border */
        border-top: 1px solid #eaeaea; 
    }

    .menu-toggle img {
        width: 40px; /* Adjust image size as needed */
        height: 40px;
    }

    .menu-toggle:focus {
        outline: none; /* Remove focus outline */
    }

    .menu-icon {

        margin-right: 10px;
       
    }

    .logo-img {
        width: 50px;
        height: 50px;
        margin-bottom: -30px;
    }
}








